<table class="table table-striped border mt-1">
  <thead>
    <tr>
      <th scope="col">Id <span [appSort]="dataList" data-order="desc" data-name="id"></span></th>
      <th scope="col">Name <span [appSort]="dataList" data-order="desc" data-name="name"></span></th>
      <th scope="col">Age <span [appSort]="dataList" data-order="desc" data-name="age"></span></th>
      <th scope="col">Date Of Birth <span [appSort]="dataList" data-order="desc" data-name="dob" data-type="date"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.dob }}</td>
    </tr>
  </tbody>
</table>
